#topHalf {
	background-image: url("../images/resultImage.jpg");
	width: 1170px;
	height: 600px;
	background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: -20px;
}

h1 {
	text-align: center;
}

footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

h2 {
	text-align: center;
	font-family: Papyrus;
	font-style: oblique;
	font-size: 60px;
	font-weight: bolder;
	letter-spacing: 0.8em;
	padding-top: 30px;
} 
.container {
	background-color: #e8e8e8; 
}   


#recipes {
	margin-left: 25px;
	padding-bottom: 30px;
	padding-top: 40px;
}