.btn {
  background-color: #4d6376;

}
.mySlides {
  margin-top: 200px;
  border: 4px solid #b4bcc0;
  display: none;
}
h1 {
   color: #000026;
   text-align: center;
}

.text1 {
	background-color: #b4bcc0;
  width: 300px;
  height:200px;
  float: right;
  margin-top: 100px;
  }

.text2 {
  background-color: #b4bcc0;
  width: 300px;
  height:200px;
  float: left;
  margin-top: 40px;
  }
.text3 {
  background-color: #b4bcc0;
  width: 300px;
  height:200px;
  float: right;
  margin-top: 40px;
  }
.row {

	margin: 50px;
}

footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

.navbar {
      margin-bottom: 0;
      border-radius: 0;
    }   

    .buttonText {
      color: #000026;
    } 

    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

#customBtn {
      display: inline-block;
      background: white;
      color: #444;
      width: 190px;
      border-radius: 5px;
      border: thin solid #888;
      box-shadow: 1px 1px 1px grey;
      white-space: nowrap;
    }
    #customBtn:hover {
      cursor: pointer;
    }
    span.label {
      
      font-weight: normal;
      font-size: 16px;
    }
    span.icon {
      background: url('../images/Google-Logo.png') transparent 5px 50% no-repeat;
      display: inline-block;
      vertical-align: middle;
      width: 42px;
      height: 42px;
    }
    span.buttonText {
      display: inline-block;
      vertical-align: middle;
      padding-left: 42px;
      padding-right: 42px;
      font-size: 16px;
      font-weight: bold;
      /* Use the Roboto font that is loaded in the <head> */
      font-family: 'Roboto', sans-serif;
    }
   
    
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {
      	height:auto;
      } 
    }

   